<%- include('partials/header') %>

<body class="result-body">
<div class="container" style="text-align: center; padding-top: 50px;">
    <h1 class="glow-text">500 - Server Error</h1>
    <p>Oops! Something went wrong on our end. Please try again later.</p>
    <a href="/" style="color: #ff99ff; text-decoration: none; font-weight: bold;">Return to Homepage</a>
</div>
<%- include('partials/footer') %>
</body>

</html>